* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    scrollbar-width: 6px;
}

/* ====== Variaveis ====== */

:root {
    --body-color: #f3f7fb;
    --nav-color: #e7e7e7;
    --botao: #3185ef;
    --text-color-secondary: #fff;
    --text-color-primary: #4675b7;
    --cor-nav-botao: #4E80C6;
}

/* Estilize o scrollbar vertical */
::-webkit-scrollbar {
    width: 6px;
    /* Largura mais fina do scrollbar */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Cor do fundo da trilha */
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Cor do thumb (alça) do scrollbar */
    border-radius: 3px;
    /* Borda arredondada do thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Cor do thumb quando hover */
}


/* ====== Navbars ====== */

.navbar-search {
    width: 100%;
    height: 8vh;
    background: var(--nav-color);
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

.search {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.btn-btn-search {
    width: 5%;
    min-height: 27px;
    border-radius: 10px;
    background: var(--botao);
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-right: 5px;
}

.btn-btn-search i {
    width: 17px;
    height: 17px;
    color: var(--text-color-secondary);
}

.input-search {
    width: 70%;
    outline: none;
    min-height: 30px;
    border-radius: 10px;
    background: var(--text-color-secondary);
    border: none;
    padding-left: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.balon-acessibility {
    width: 30%;
    height: 33px;
    border-radius: 11px;
    background: #3185ef;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    margin: 10px;
    padding-bottom: 2px;
    align-items: center;
}

.link-acessibility {
    color: var(--text-color-secondary);
    font-size: 0.9em;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.vr {
    display: inline-block;
    width: 1px;
    min-height: 0.5em;
    background-color: var(--text-color-secondary);
    opacity: 0.25;
    margin: 0 10px;
}

.nav-container {
    width: 100%;
    height: 10%;
    min-height: 5%;
    background-color: var(--body-color);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.list-container {
    display: flex;
    justify-content: left;
    width: 75%;
}

.img-logo {
    width: 60%;
    height: 100%;
}

.list-navbar {
    list-style-type: none;
    display: flex;
    margin: 0 -50px;
}

.list-navbar-item {
    padding: 0 33px;
}

.item-navbar {
    color: var(--text-color-primary);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}

.item-navbar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--text-color-primary);
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s ease-in-out;
}

.item-navbar:hover::before {
    transform: scaleX(1);
}

/* ====== Conteudo Principal ====== */

.container {
    width: 100%;
    height: 100%;
    background: url(../Images/Rectangle\ 43.png), lightgray 50% / cover no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

h2 {
    margin-top: 50px;
    letter-spacing: 4px;
    color: #4675b7;
    font-weight: 700;
    font-size: 38px;
}

.container-conteudo {
    width: 90%;
    margin-left: 90px;
    margin-top: 130px;
    display: flex;
    flex-wrap: wrap;
}

.eclipse {
    width: 100px;
    height: 100px;
    background-color: #4675b7;
    border-radius: 50%;
    box-shadow: 0px 4px 4px #00000040;
    margin: 0 90px;
    margin-bottom: 200px;
    transition: all .3s ease;
}

.eclipse a {
    position: relative;
    top: 20px;
}

.eclipse i {
    color: #fff;
    font-size: 50px;
    transition: all .3s ease;
}


.eclipse:hover {
    width: 120px;
    height: 120px;
    margin: 0 88px;
}

.eclipse:hover i {
    font-size: 70px;
    /* Aumente o tamanho do ícone */
}


.eclipse .escrita-container {
    top: 60%;
    font-size: 18px;
    color: #4675b7;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
}

/* ====== Conteudo do mapa do portal ====== */

/* Estilo para o overlay de fundo */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Cor de fundo com transparência */
    z-index: 999;
    /* Coloque-o acima de outros elementos */
    display: none;
    /* Inicialmente oculto */
    backdrop-filter: blur(5px);
    /* Aplica um efeito de desfoque ao conteúdo de fundo */
}

/* Estilo para o offcanvas */
.offcanvas {
    position: fixed;
    bottom: -90%;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: var(--nav-color);
    transition: bottom 0.5s ease-in-out;
    z-index: 1000;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 {
    margin-top: 20px;
    color: var(--text-color-primary);
    font-size: 30px;
    font-weight: 600;
    padding-left: 80px;
}

#fechar-offcanvas {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: none;
    font-size: 30px;
    color: var(--text-color-primary);
    outline: none;
}

.search-offcanvas {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 55px;
}

.btn-offcanvas {
    width: 36px;
    min-height: 36px;
    border-radius: 10px;
    background: var(--botao);
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-right: 5px;
}

.btn-offcanvas i {
    width: 17px;
    height: 17px;
    color: var(--text-color-secondary);
}

.input-search-offcanvas {
    width: 90%;
    outline: none;
    min-height: 40px;
    border-radius: 10px;
    background: var(--text-color-secondary);
    border: none;
    padding-left: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.conteudo-do-offcanvas {
    display: flex;
    margin: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.box-container {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    margin-left: 30px;
}

.box-offcanvas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 35px;
    border-radius: 8px;
    background: var(--text-color-primary);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--text-color-secondary);
    margin-bottom: 20px;
}


.lista-offcanvas {
    position: relative;
    justify-content: center;
    top: -21px;
    border-bottom: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    border-left: 1px solid #d2d2d2;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding-left: 5px;
}

.lista-item-offcanvas {
    align-items: center;
    list-style-type: none;
    padding: 10px;
}

.lista-item-offcanvas i {
    margin-right: 20px;
    font-size: 20px;
    color: var(--text-color-primary);
}

.link-do-offcanvas {
    display: flex;
    justify-content: start;
    text-decoration: none;
    color: var(--text-color-primary);
    font-size: 14px;
}

.link-do-offcanvas:hover {
    color: #2f568d;
    transition: all .3s ease;

}

.link-do-offcanvas-bold {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: var(--text-color-primary);
    font-weight: 700;
    font-size: 15px;
}

.link-do-offcanvas-bold:hover {
    color: #2f568d;
    transition: all .3s ease;
}

.link-do-offcanvas-bold i {
    transition: transform .5s ease-in-out;
}

.rotate-up {
    transform: rotate(-180deg);
    /* Adiciona uma transição suave para a rotação */
}


.linha-do-offcanvas {
    display: block;
    border: 0.1px solid var(--text-color-primary);
    width: 95%;
}

/* Estilo inicial do dropdown escondido */
.dropdown-content-offcanvas {
    display: block;
    max-height: 0;
    max-width: 320px;
    overflow: hidden;
    transition: max-height .5s ease-in-out;
    text-align: left;
}


.dropdown-content-offcanvas.open {
    max-height: 350px;
    opacity: 1;
}

.dropdown-content-offcanvas li {
    list-style-type: none;
    padding: 10px 30px;
}

/* Estilo das opções do dropdown */
.dropdown-content-offcanvas a {
    color: var(--text-color-primary);
    text-decoration: none;
    display: flex;
    font-size: 14px;
    text-align: left;
    padding-top: 5px;
}

.dropdown-content-offcanvas a:hover {
    color: #2f568d;
    transition: all .3s ease;
}

/* Estilo para mostrar o overlay e o offcanvas quando aberto */
.offcanvas.aberto {
    bottom: 0;
}

.offcanvas-aberto-body {
    overflow: hidden;
}



/* ====== fim do Conteudo do mapa do portal ====== */

/* ====== Rodape ====== */
.rodape {
    width: 100%;
    height: 60vh;
    background-color: var(--botao);
    text-align: center;
    padding-top: 80px;
}

.rodape-container {
    display: flex;
    justify-content: center;
    text-align: start;
    color: var(--text-color-secondary);
}

.rodape-container h3 {
    margin-left: 50px;
}

.lista-rodape {
    list-style-type: none;
    padding: 0 50px;
}

.lista-item-rodape {
    padding-bottom: 15px;
}

.link-rodape {
    text-decoration: none;
    color: var(--text-color-secondary);
}

.link-rodape:hover {
    text-decoration: none;
    color: #d2d2d2;
}

.paragrafo-footer {
    display: flex;
    justify-content: center;
    color: var(--text-color-secondary);
}

.linha {
    margin: 20px 0;
    padding: 0 100px;
}


.linha-rodape-desktop {
    display: block;
    border: 0.1px solid var(--text-color-secondary);
}


.menu-toggle,
.offcanvas-menu,
.offcanvas-content,
.dropdown,
.dropdown-content,
.dropbtn,
.left-icon,
.right-icon,
hr {
    display: none;
}

@media (max-width: 768px) {

    .nav-container,
    .balon-acessibility,
    .lista-rodape,
    .titulo-rodape,
    .linha {
        display: none;
    }

    /* ===== NavBar ===== */

    .menu-toggle {
        display: block;
    }

    .offcanvas-menu {
        position: fixed;
        background-color: var(--botao);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: all 0.4s ease;
        z-index: 1000;
    }

    .offcanvas-menu.active {
        transform: translateX(0);
    }

    .btn-close {
        color: var(--text-color-primary);
        position: absolute;
        top: 10px;
        left: 90%;
        font-size: 30px;
    }

    .search {
        width: 100%;
        flex-direction: row;
        align-items: center;
    }

    .btn-btn-search {
        width: 35px;
        height: 35px;
    }

    .menu-toggle {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        margin-right: 15px;
        font-size: 20px;
    }

    .input-search {
        width: 70%;
        height: 35px;
    }

    .offcanvas-nav {
        background-color: var(--body-color);
        width: 100%;
        padding: 20px 0;
    }

    .offcanvas-nav h4 {
        color: var(--text-color-primary);
        padding-left: 20px;
        font-weight: 600;
        font-size: 16px;
    }

    .offcanvas-menu ul {
        width: 100%;
    }

    .offcanvas-menu ul li {
        list-style-type: none;
    }

    .offcanvas-menu ul li a {
        font-size: 20px;
        color: #fff;
        font-weight: 500;
        line-height: 4;
        text-decoration: none;
        padding: 15px 0 15px 7vw;
        transition: all 0.4s ease;
    }

    .redes-sociais {
        margin-top: 55%;
        background-color: var(--body-color);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 15%;
    }

    .redes-sociais a {
        color: var(--text-color-primary);
        text-decoration: none;
        font-size: 40px;
        padding: 0 5%;
    }

    /* ===== Conteudo Principal ====== */

    .container {
        height: 120vh;
        width: 100%;
        background: url(../Images/WDWD\ 1.png), lightgray 25% / cover no-repeat;
        background-position: center 0;
    }

    h2 {
        letter-spacing: 2px;
        font-size: 22px;
        margin-bottom: -20%;
    }

    .container-conteudo {
        flex-direction: row;
        margin-left: 0;
        justify-content: center;

    }

    .eclipse {
        width: 20vw;
        height: 10vh;
        background-color: #4675b7;
        border-radius: 50%;
        box-shadow: 0px 4px 4px #00000040;
        margin-bottom: 30%;
        margin-left: 5%;
        margin-right: 3%;
    }

    .eclipse a {
        position: relative;
        top: 2.3vh;
    }

    .eclipse i {
        color: #fff;
        font-size: 40px;
    }

    .eclipse .escrita-container {
        font-size: 16px;
        color: #4675b7;
        text-decoration: none;
        line-height: 1.2;
    }


    /* ====== Rodape ====== */

    .rodape {
        position: relative;
        height: 60%;
    }

    .dropdown {
        position: relative;
        display: flex;
        flex-direction: column;
        top: -90px;
    }

    .dropbtn {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        width: 100%;
        background-color: transparent;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 20px;
    }

    .left-icon {
        display: block;
        margin-right: 20px;
    }

    .right-icon {
        display: block;
        margin-left: auto;
    }

    .dropdown-content {
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }


    .dropdown-content.show {
        max-height: 200px;
        opacity: 1;
    }

    .dropdown-content li {
        list-style-type: none;
        padding: 10px 30px;
    }

    .dropdown-content a {
        text-decoration: none;
        display: flex;
        color: white;
        font-size: 14px;
        line-height: 1.4;
    }

    .rodape .paragrafo-footer {
        font-size: 14px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 90%;
        padding: 10px;
        text-align: center;
    }

    hr {
        display: block;
        border: 0.1px solid #fff;
    }
}

@media (max-width: 1000px) {

    .nav-container,
    .balon-acessibility,
    .lista-rodape,
    .titulo-rodape,
    .linha {
        display: none;
    }

    /* ===== NavBar ===== */

    .menu-toggle {
        display: block;
    }

    .offcanvas-menu {
        position: fixed;
        background-color: var(--botao);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: all 0.4s ease;
        z-index: 1000;
    }

    .offcanvas-menu.active {
        transform: translateX(0);
    }

    .btn-close {
        color: var(--text-color-primary);
        position: absolute;
        top: 10px;
        left: 90%;
        font-size: 30px;
    }

    .search {
        width: 100%;
        flex-direction: row;
        align-items: center;
    }

    .btn-btn-search {
        width: 35px;
        height: 35px;
    }

    .menu-toggle {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        margin-right: 15px;
        font-size: 20px;
    }

    .input-search {
        width: 70%;
        height: 35px;
    }

    .offcanvas-nav {
        background-color: var(--body-color);
        width: 100%;
        padding: 20px 0;
    }

    .offcanvas-nav h4 {
        color: var(--text-color-primary);
        padding-left: 20px;
        font-weight: 600;
        font-size: 16px;
    }

    .offcanvas-menu ul {
        width: 100%;
    }

    .offcanvas-menu ul li {
        list-style-type: none;
    }

    .offcanvas-menu ul li a {
        font-size: 20px;
        color: #fff;
        font-weight: 500;
        line-height: 4;
        text-decoration: none;
        padding: 15px 0 15px 7vw;
        transition: all 0.4s ease;
    }

    .redes-sociais {
        margin-top: 55%;
        background-color: var(--body-color);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 15%;
    }

    .redes-sociais a {
        color: var(--text-color-primary);
        text-decoration: none;
        font-size: 40px;
        padding: 0 5%;
    }

    /* ===== Conteudo Principal ====== */

    .container {
        height: 120vh;
        width: 100%;
        background: url(../Images/WDWD\ 1.png), lightgray 25% / cover no-repeat;
        background-position: center 0;
    }

    h2 {
        letter-spacing: 2px;
        font-size: 32px;
    }

    .container-conteudo {
        flex-direction: row;
        margin-left: 0;
        justify-content: center;

    }

    .eclipse {
        background-color: #4675b7;
        border-radius: 50%;
        box-shadow: 0px 4px 4px #00000040;
        margin-bottom: 30%;
        margin-left: 5%;
        margin-right: 3%;
    }

    .eclipse a {
        position: relative;
        top: 2.3vh;
    }

    .eclipse i {
        color: #fff;
        font-size: 40px;
    }

    .eclipse:hover {
        width: 100px;
        height: 100px;
        margin: 0 3%;
    }

    .eclipse:hover i {
        font-size: 40px;
    }

    .eclipse .escrita-container {
        top: 70%;
        font-size: 18px;
        color: #4675b7;
        text-decoration: none;
        line-height: 1.2;
    }


    /* ====== Rodape ====== */

    .rodape {
        position: relative;
        height: 60%;
    }

    .dropdown {
        position: relative;
        display: flex;
        flex-direction: column;
        top: -90px;
    }

    .dropbtn {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        width: 100%;
        background-color: transparent;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 20px;
    }

    .left-icon {
        display: block;
        margin-right: 20px;
    }

    .right-icon {
        display: block;
        margin-left: auto;
    }

    .dropdown-content {
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }


    .dropdown-content.show {
        max-height: 200px;
        opacity: 1;
    }

    .dropdown-content li {
        list-style-type: none;
        padding: 10px 30px;
    }

    .dropdown-content a {
        text-decoration: none;
        display: flex;
        color: white;
        font-size: 14px;
        line-height: 1.4;
    }

    .rodape .paragrafo-footer {
        font-size: 14px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 90%;
        padding: 10px;
        text-align: center;
    }

    hr {
        display: block;
        border: 0.1px solid #fff;
    }
}